@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="tr" class="h-100">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3Admin:Dashboard Bootstrap 5 Template">
	<meta property="og:title" content="W3Admin:Dashboard Bootstrap 5 Template">
	<meta property="og:description" content="W3Admin:Dashboard Bootstrap 5 Template">
	<meta property="og:image" content="page-error-404.html">
	<meta name="format-detection" content="telephone=no">
	<title>W3Admin - Modern-Admin-Dashboard</title>
	<link rel="shortcut icon" type="image/png" href="~/assets/images/favicon.png">
	<link href="~/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body class="vh-100">
	<div class="authincation h-100">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-6 col-md-12 col-sm-12 mx-auto align-self-center">
					<div class="login-form">
						<div class="text-center">
							<h3 class="title">Sign In</h3>
							<p>Sign in to your account to start using W3Admin</p>
						</div>
						<form action="/User/Register" method="post">
							<div class="mb-4">
								<label class="mb-1 text-dark">Adınız</label>
								<input type="text" name="FirstName" class="form-control form-control" placeholder="Yusuf">
							</div>
							<div class="mb-4">
								<label class="mb-1 text-dark">Adınız</label>
								<input type="text" name="LastName" class="form-control form-control" placeholder="Tümer">
							</div>
							<div class="mb-4">
								<label class="mb-1 text-dark">Email</label>
								<input type="email" name="Email" class="form-control form-control" placeholder="hello@example.com">
							</div>
							<div class="mb-4 position-relative">
								<label class="mb-1 text-dark">Password</label>
								<input type="password" name="Password" id="dz-password" class="form-control form-control" value="Password">
								<span class="show-pass eye">
									<i class="fa fa-eye-slash"></i>
									<i class="fa fa-eye"></i>
								</span>
							</div>
							<div class="text-center mb-4">
								<button type="submit" class="btn btn-primary light btn-block">Kayıt Ol</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="pages-left h-100">
						<div class="login-content">
							<a href="index.html"><img src="~/assets/images/logo-full.png" class="mb-3" alt=""></a>
							<p>Your true value is determined by how much more you give in value than you take in payment. ...</p>
						</div>
						<div class="login-media text-center">
							<img src="~/assets/images/login.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/assets/vendor/global/global.min.js"></script>
	<script src="~/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/assets/js/deznav-init.js"></script>
	<script src="~/assets/js/custom.js"></script>
	<script src="~/assets/js/demo.js"></script>
</body>
</html>